.whole-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 6%;
  /* left: 25%; */
  height: 80vh;
  margin: auto;
  margin-left: 20vh;
}

.List {
  /* box-shadow: 0 0 80px 15px #000000; */
  position: relative;
  max-height: 80vh;
  overflow-x: hidden;

  overflow-y: scroll;
  /* hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;

  scroll-snap-type: y mandatory;
  /* background: #f8f9fa; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  scrollbar-width: none;
  width: 120vh;
  margin-right: 0;
  height: 76.5vh;
  /* bottom: 1vh; */
  /* left: 40vh; */
  /* border-style: solid; */
  /* border-radius: 10px; */
}

.List::-webkit-scrollbar {
  display: none;
}

.ClickableContainer {
  width: 90%;
}

.main-article-window {
  flex-grow: 1;
  position: relative;
  max-width: 100%;
  height: 75vh;
  border-style: solid;
  padding: 10px;
  background: #f8f9fa;
}

.Item {
  padding: 10px;
  position: relative;
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center;
  align-content: center; */
  scroll-snap-align: start;
  height: 76.5vh;
  width: 100vh;
  z-index: 2;
  /* background: #f8f9fa; */
}

.Loader {
  position: relative;
  width: 100vh;
  min-height: 20vh;
  margin-bottom: 30px;
  display: flex;
  scroll-snap-align: start;
  color: #ffffff;
  align-content: center;
  align-items: center;
  scroll-snap-align: start;
  justify-content: center;
  overflow-anchor: none;
}

.ImageContainer {
  width: 100%;
  height: 40%;
  overflow: hidden;
  z-index: 2;
  /* text-align: center; */
}

.ResponsiveImage {
  width: 100%; /* Ensure the image fills its container */
  height: 100%; /* Ensure the image fills its container */
  border: 2px solid black;
  display: block;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  object-position: top;
}

.articleInfo {
  position: relative;
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  flex-direction: column;
  height: 60%;
  width: 100%;
  padding: 10px; /* Optional: Add padding to the article info */
  z-index: 2;
}

.article-author {
  font-style: italic;
}

.article-title {
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 25px;
  margin-bottom: 60px;
  justify-content: left;
  text-align: left;
  text-transform: inherit;
  font-size: 40px;
  border-bottom: 1px solid black;
}

.article-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article-source {
}

.article-publishedAt {
}

.HomePageContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100vw;
  height: 93.5vh;
  background-size: cover;
  background-position: center;
  left: 0;
  overflow-y: hidden;
  /* z-index: 10; */
}
