.whole-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0%;
  left: 25%;
  height: 80vh;
}

.List {
  position: relative;
  max-height: 80vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  scrollbar-width: none;
  width: 90vh;
  margin-right: 0;
  /* bottom: 1vh; */
  /* left: 40vh; */
  border-style: solid;
  z-index: 1;
  /* border-radius: 10px; */
}

.Item {
  padding: 10px;
  position: relative;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center;
  align-content: center; */
  scroll-snap-align: start;
  height: 79.5vh;
  width: 89.5vh;
  z-index: 2;
  background: #ffffff;
}

.Loader {
  position: relative;
  width: 100vh;
  min-height: 20vh;
  margin-bottom: 30px;
  display: flex;
  background: #444;
  scroll-snap-align: start;
  color: #ffffff;
  align-content: center;
  align-items: center;
  scroll-snap-align: start;
  justify-content: center;
}

.ImageContainer {
  width: 100%;
  height: 55%;
  overflow: hidden;
  z-index: 2;
  /* text-align: center; */
}

.ResponsiveImage {
  width: 100%; /* Ensure the image fills its container */
  height: 100%; /* Ensure the image fills its container */
  border: 2px solid black;
  display: block;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  object-position: top;
}

.articleInfo {
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  flex-direction: column;
  height: 60%;
  width: 100%;
  padding: 10px; /* Optional: Add padding to the article info */
  z-index: 2;
}

.article-author {
  font-style: italic;
}

.article-title {
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 50px;
  margin-bottom: 90px;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
  font-size: 45px;
}

.article-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article-source {
}

.article-publishedAt {
}

.HomePageContainer {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 160px;
  z-index: 10;
}
