.likes-post-box {
  display: flex;
  border: 3px solid black;
  background-color: rgba(206, 212, 218, 1);
  margin: 50px 60px;
  padding: 10px;
}

.picture-and-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.source-image {
  width: 100%; /* Ensure the image fills its container */
  height: 100%; /* Ensure the image fills its container */
  border: 2px solid black;
  display: block;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  object-position: top;
}

.image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.article-information {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  align-items: baseline;
  flex-grow: 1;
}

.liked-article-title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
  margin-top: 0;
}

.liked-article-author {
  font-style: italic;
  font-weight: 200;
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 50px;
}

.liked-article-source {
  margin-bottom: 0;

  font-weight: 200;
  font-size: 26px;
}
