.avatar {
  vertical-align: middle;
  max-width: 50px;
  height: 25px;
  /* border-radius: 100%;
  border-width: 4px;
  border-color: gray;
  border-style: outset; */
}

.avatar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: nowrap; /* Prevents wrapping */
  max-height: 5px;
}

.avatar-container .avatar {
  order: 2; /* This will put the photo on the right side */
}

.avatar-container p {
  order: 1; /* This will put the username on the left side */
}

.avatar-username {
  margin: 0;
}
