.ReactionButtons-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 11vh;
  left: 2vh;
  top: 4vh;
}

/* https://uiverse.io/andrew-demchenk0/itchy-donkey-64 */
.ReactionButtons {
  --bg-color: #f8f9fa;
  --main-color: #343a40;
  width: 9vh;
  height: 9vh;
  border-radius: 100%;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
}
.ReactionButtons:hover {
  background-color: #dee2e6;
}
.ReactionButtons:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.ReactionButtons:focus {
  transition: 0.2s linear;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}
